html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	position: absolute;
	font-family: Monospace, Helvetica, Arial;
	font-size: 18px;
	color: white;
	overflow-x: hidden;
}

.App {
	width: 100vw;
}

h1 {
	font-size: 6.854rem
}

h2 {
	font-size: 4.236rem
}

h3 {
	font-size: 2.618rem
}

h4 {
	font-size: 1.618rem
}

p {
	font-size: 1rem;
}

* {
	/*border: 2px solid;*/
}

.Typewriter {
	width: fit-content;
}

.Typewriter * {
	animation: typewriter 1.5s steps(10) 1s both,
		blinkingCursor 1s infinite steps(1) forwards;
	border-right: 2px solid;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes typewriter {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes blinkingCursor {
	50% {
		border-color: transparent;
	}
	100% {
		border-color: white;
	}
}

.FadeIn {
	animation: fadeIn 1s ease 3s both; 
}

@keyframes fadeIn {
	0% {
		color: transparent;
		transform: translate(0, 15px);
	}
	100% {
		color: white;
	}
}

nav {
	position: sticky;
	top: 0;
	height: 50px;
	background-color: #171918;
	z-index: 1;
}

#navAnimated {
	background-color: white;
	border-bottom: 1px solid gray;
	height: 100%;
	animation: navFadeIn 1s ease 3s both;
}

@keyframes navFadeIn {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

nav img {
	width: 40px;
}

nav * {
	vertical-align: middle;
	padding-top: 3px;
	padding-right: 20px;
	padding-left: 10px;
}

header {
	background-color: #171918;
	margin: auto;
	width: 100%;
}

#headerNarrow {
	margin: auto;
	width: 75vw;
	padding: 10px;
}

#name {
	
}

#contact_info {
	transform: translate(0, -40px);
}

#contact_info * {
	line-height: 0.7;
}

main {
	background-color: white;
}

#mainNarrow {
	margin: auto;
	width: 65vw;
}

section {
	color: black;
}

section h4 {
	text-decoration: underline;
}

section p {
	padding-left: 30px;
	padding-bottom: 10px;
}

.table {
	display: flex;
	width: 100%;
	border: 2px solid;
}

.EducationTableElement {
	flex-grow: 1;
	margin: 10px;
	background-color: gray;
}

.EducationTableElement img {
	width: 95%;
}