:root {
	--black: #171918;
	--blue: #4F5D75;
	--off-white: #F4F4F6;
	--orange: #EA5C1F;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	position: absolute;
	font-family: Monospace, Helvetica, Arial;
	font-size: 18px;
	color: black;
	background-color: var(--off-white);
	overflow-x: hidden;
}

.App {
	width: 100vw;
}

h1 {
	font-size: 6.854rem
}

h2 {
	font-size: 4.236rem
}

h3 {
	font-size: 2.618rem
}

h4 {
	font-size: 1.618rem
}

p {
	font-size: 1rem;
}

* {
	/*border: 2px solid;*/
}

.Typewriter {
	width: fit-content;
}

.Typewriter * {
	animation: typewriter 1.5s steps(10) 1s both,
		blinkingCursor 1s infinite steps(1) forwards;
	border-right: 2px solid;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes typewriter {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes blinkingCursor {
	50% {
		border-color: transparent;
	}
	100% {
		border-color: white;
	}
}

.FadeIn {
	animation: fadeIn 1s ease 3s both; 
}

@keyframes fadeIn {
	0% {
		color: transparent;
		transform: translate(0, 20px);
	}
	100% {
		color: white;
	}
}

nav {
	position: sticky;
	top: 0;
	height: fit-contents;
	background-color: var(--black);
	z-index: 2;
}

#navAnimated {
	background-color: white;
	border-bottom: 1px solid gray;
	height: 100%;
	animation: navFadeIn 1s ease 3s both;
}

@keyframes navFadeIn {
	0% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

nav img {
	width: 40px;
}

nav * {
	vertical-align: middle;
	padding-top: 3px;
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 3px;
}

header {
	background-color: var(--black);
	color: white;
	margin: auto;
	width: 100%;
}

#headerNarrow {
	margin: auto;
	width: 75vw;
	padding: 10px;
}

#contact_info {
	margin-top: 0;
	padding-top: 0;
}

#name > * {
	margin-bottom: 0;
}

#contact_info > * {
	line-height: 0.7;
}

main {
	background-color: var(--off-white);
	display: flex;
}

#sideBar {
	width: 25vw;
	margin-right: 2%;
}

.sideBarGroup {
	border: 2px solid;
	margin-top: 50px;
	background-color: white;
}

.sideBarGroup h3 {
	font-size: 6vmin;
	text-decoration: underline;
	margin-left: 10px;
}

.sideBarGroup h4 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#mainNarrow {
	margin: auto;
	width: 65vw;
}

section {
	color: black;
}

.SectionTitle {
	position: sticky;
	top: 35px;
	height: fit-contents;
	width: 100%;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: var(--off-white);
	border-top: 1px solid transparent;
	border-bottom: 4px solid var(--orange);
	z-index: 1;
}

.SectionTitle > h3 {
	margin-bottom: auto;
}

section > h4 {
	border-left: 5px solid var(--blue);
	padding-left: 10px;
	margin-left: 10px;
}

section > p {
	padding-left: 30px;
	padding-bottom: 10px;
}

.table {
	display: inline-flex;
	width: 100%;
	min-width: fit-contents;
	padding-bottom: 10px;
	padding-right: 5px;
	border: 2px solid;
}

.EducationTableElement {
	flex: 1;
	margin: 10px;
	border: 1px solid gray;
	box-shadow: 5px 10px;
	padding-bottom: 10px;
	background-color: white;
}

.EducationTableElement img {
	width: 95%;
}

.EducationTableElement *:not(img) {
	padding-left: 20px;
}

.WorkElement {
	position: relative;
	border: 3px solid;
	margin-bottom: 50px;
	box-shadow: 5px 10px;
	background-color: white;
	padding: 0;
}

.WorkNameAndInfo {
	display: flex;
}

.WorkNameAndInfo > h4 {
	flex: 50;
	border-left: 5px solid var(--blue);
	width: 45%;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
}

.WorkInfo {
	flex: 50;
	padding-bottom: 5px;
	top: 0;
	right: 0;
	width: 40%;
	height: fit-content;
	border: 2px solid;
}

.WorkInfo > * {
	word-wrap: break-word;
	margin-left: 5%;
	width: 90%;
}

.WorkDesc {
	margin-left: 20px;
	padding-bottom: 30px;
}

footer {
	border-top: 2px solid;
	margin: auto;
	margin-bottom: 75px;
	width: 90vw;
}

@media only screen and (max-width: 800px) {
	html, body {
		font-size: 13px;
	}
	#name > * {
		font-size: 10vw;
	}
	#contact_info > * {
		font-size: 4vw;
	}
	main {
		flex-direction: column;
	}
	#mainNarrow {
		width: 90vw;
	}
	#sideBar {
		width: 65vw;
		margin: auto;
	}
	.WorkNameAndInfo > h4 {
		font-size: 1.5rem;
	}
}