:root {
	--black: #171918;
	--blue: #4C5B9D;
	--off-white: #F4F4F6;
	--orange: #EA5C1F;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: Monospace, Helvetica, Arial;
	font-size: 18px;
	color: black;
	background-color: var(--off-white);
	overflow-x: hidden;
}

h1 {
	font-size: 6.854rem
}

h2 {
	font-size: 4.236rem
}

h3 {
	font-size: 2.618rem
}

h4 {
	font-size: 1.618rem
}

p {
	font-size: 1rem;
}

.Link {
	background: none;
	border: none;
	color: blue;
	font-size: 1rem;
	text-decoration: underline;
	cursor: pointer;
	margin: 0;
}

button {
	font-family: Monospace, Helvetica, Arial;
}