

.Page {
	width: 100vw;
}

.Typewriter {
	width: fit-content;
}

.Typewriter * {
	animation: typewriter 1.5s steps(10) 1s both,
		blinkingCursor 1s infinite steps(1) forwards;
	border-right: 2px solid;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes typewriter {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes blinkingCursor {
	50% {
		border-color: transparent;
	}
	100% {
		border-color: white;
	}
}

.FadeIn {
	animation: fadeIn 1s ease 3s both; 
}

@keyframes fadeIn {
	0% {
		opacity: 0.0;
		transform: translate(0, 20px);
	}
	100% {
		opacity: 1.0;
	}
}

.ShadowButton {
	cursor: pointer;
	background-color: white;
	width: fit-content;
	white-space: nowrap;
	border: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 6px 6px 0 0 var(--black), 12px 12px 0 0 white;
	transition-duration: 400ms;
}

.ShadowButton:hover {
	box-shadow: 9px 9px 0 0 var(--black), 17px 17px 0 0 white;
	transform: translate(-5px, -5px);
}

#contactMe {
	width: fit-content;
	margin-left: auto;
	margin-right: 5%;
	margin-bottom: 40px;
}

#contactMe > * {
	font-size: 1.618rem;
}

.Page header {
	background-color: var(--black);
	color: white;
	margin: auto;
	width: 100%;
}

#headerNarrow {
	margin: auto;
	width: 75vw;
	padding: 10px;
}

#contactInfo {
	margin-top: 0;
	padding-top: 0;
}

#name > * {
	margin-bottom: 0;
}

#contactInfo > * {
	line-height: 0.7;
}

.Page main {
	background-color: var(--off-white);
	display: flex;
	margin-bottom: 20px;
}

#sideBar {
	width: 25vw;
	margin-right: 2%;
}

.SideBarGroup {
	border: 2px solid;
	margin-top: 50px;
	background-color: white;
}

.SideBarGroup h3 {
	text-decoration: underline var(--orange);
	margin-left: 10px;
}

.SideBarGroup h4 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#mainNarrow {
	margin: auto;
	width: 65vw;
}

.Page section {
	color: black;
}

.SectionTitle {
	position: sticky;
	top: 30px;
	height: fit-contents;
	width: 100%;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: var(--off-white);
	border-top: 1px solid transparent;
	border-bottom: 4px solid var(--orange);
	z-index: 1;
}

.SectionTitle + * {
	margin-top: 20px;
}

.SectionTitle > h3 {
	margin-bottom: auto;
}

.Page section > h4 {
	border-left: 5px solid var(--blue);
	padding-left: 10px;
	margin-left: 10px;
}

.Page section > p {
	padding-left: 30px;
	padding-bottom: 10px;
}

.Table {
	display: inline-flex;
	width: 100%;
	min-width: fit-contents;
	padding-bottom: 10px;
	padding-right: 5px;
	border: 2px solid;
}

.EducationTableElement {
	flex: 1;
	margin: 10px;
	border: 1px solid gray;
	box-shadow: 5px 10px;
	padding-bottom: 10px;
	background-color: white;
}

.EducationTableElement img {
	width: 95%;
}

.EducationTableElement *:not(img) {
	padding-left: 20px;
}

.WorkElement {
	position: relative;
	border: 3px solid;
	margin-bottom: 50px;
	box-shadow: 5px 10px;
	background-color: white;
	padding: 0;
}

.WorkNameAndInfo {
	display: flex;
}

.WorkNameAndInfo > h4 {
	flex: 50;
	border-left: 5px solid var(--blue);
	width: 45%;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
}

.WorkInfo {
	flex: 50;
	padding-bottom: 5px;
	top: 0;
	right: 0;
	width: 40%;
	height: fit-content;
	border: 2px solid;
}

.WorkInfo > * {
	word-wrap: break-word;
	margin-left: 5%;
	width: 90%;
}

.WorkDesc {
	margin-left: 20px;
	padding-bottom: 30px;
}

.Page footer {
	border-top: 2px solid;
	margin: auto;
	margin-bottom: 75px;
	width: 90vw;
}

.Page footer a {
	display: block;
	padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
	#name > * {
		font-size: 10vw;
	}
	#contactInfo * {
		font-size: 3.5vw;
	}
	.Page main {
		flex-direction: column;
	}
	#mainNarrow {
		width: 90vw;
	}
	#sideBar {
		width: 65vw;
		margin: auto;
	}
	.WorkNameAndInfo > h4 {
		font-size: 4.8vmin;
	}
	.EducationTableElement > h4 {
		font-size: 4.8vmin;
	}
	.Page footer a {
		font-size: 3.3vmin;
	}
	.SideBarGroup h3 {
		font-size: 8vmin;
	}
}